.nav-container{
    display: flex;
    box-sizing: border-box;
    padding: 0  8.3%;
    height: 1.02932608273%;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    min-height: 50px;
}


.catagory-container{
    display: flex;
    width: 49.6%;
    justify-content: space-between;
    font-size: calc(1.1vw + 0.55vh);
    font-weight: 400; 
}


.btn{
    width: 8.6%;
    height: 62.2%;
    font-size: calc(.9vw + 0.45vh);
    border-radius: 10px;
    background-color: #fff;

}



    .main{
        color: #FF0000;
        font-weight: 700; 
    }

    .logo{
        width: 36.25%;
        height: 61.8%;
    }

    .right-container{
        width: 68.7%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }